body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  /*Previous issue that I had was that the space between the top edge and the 
    title container seemed to be greater than 8px. 
    This is because margin and padding don't collapse!*/
  margin-top: 0px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 8px
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: 0px auto; /*For best practice feel free to just use 0 instead of 0px*/
}